<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="#{deleteProduct.title}"></title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form action="#" th:action="@{/home/maintenance/deleteProduct}"
					th:method="POST">

					<h1 th:text="#{deleteProduct.title}"></h1>

					<input th:type="hidden" th:name="idProduct" th:text="${idProduct}"
						th:value="${idProduct}" /> <span th:each="p : ${products}">
						<h6 th:text="#{deleteProduct.name}"></h6>
						<label th:text="${p.productName}"></label>
						<h6 th:text="#{deleteProduct.stockUnits}"></h6>
						<label th:text="${p.stockUnits}"></label>
						<h6 th:text="#{deleteProduct.price}"></h6>
						<label th:text="${p.price}"></label>
						<h6 th:text="#{deleteProduct.category}"></h6>
						<label th:text="${p.category.categoryName}"></label>
						<h6 th:text="#{deleteProduct.description}"></h6>
						<label th:text="${p.description}"></label>
						<h6 th:text="#{deleteProduct.image}"></h6> 
						<span th:if="${p.images.length==0}">
						<td th:text="#{deleteProduct.noImage}"></td>
						</span>
						<span th:unless="${p.images.length==0}">
							<td th:each="img : ${p.images}"><img
								style="max-height: 100px" th:src="@{/images/}+${img}"></td>
						</span>



						<p th:value="#{deleteProduct.alert}"></p> <input type="submit" value="Delete">
				</form>
			</div>
		</div>
</body>
</html>